<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Button Demo</string>
		<key>class</key>
		<string>ButtonDemoViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TextField Demo</string>
		<key>class</key>
		<string>TextFieldDemoViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SwpOrder By Characte</string>
		<key>class</key>
		<string>CityListViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Other</string>
		<key>class</key>
		<string>OtherViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ButtonCircleAnimation</string>
		<key>class</key>
		<string>SwpButtonCircleAnimationViewController</string>
	</dict>
</array>
</plist>
