<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>齐齐哈尔市</string>
		<key>id</key>
		<string>13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牡丹江市</string>
		<key>id</key>
		<string>15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大庆市</string>
		<key>id</key>
		<string>17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>佳木斯</string>
		<key>id</key>
		<string>20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哈尔滨市</string>
		<key>id</key>
		<string>21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>郑州市</string>
		<key>id</key>
		<string>28</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南京市</string>
		<key>id</key>
		<string>33</string>
	</dict>
	<dict>
		<key>name</key>
		<string>呼和浩特市</string>
		<key>id</key>
		<string>34</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广州市</string>
		<key>id</key>
		<string>35</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西安市</string>
		<key>id</key>
		<string>36</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太原市</string>
		<key>id</key>
		<string>37</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长春市</string>
		<key>id</key>
		<string>38</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沈阳市</string>
		<key>id</key>
		<string>39</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南昌市</string>
		<key>id</key>
		<string>40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乌鲁木齐市</string>
		<key>id</key>
		<string>41</string>
	</dict>
	<dict>
		<key>name</key>
		<string>石家庄市</string>
		<key>id</key>
		<string>42</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双鸭山市</string>
		<key>id</key>
		<string>43</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鹤岗市</string>
		<key>id</key>
		<string>46</string>
	</dict>
	<dict>
		<key>name</key>
		<string>绥化市</string>
		<key>id</key>
		<string>56</string>
	</dict>
</array>
</plist>
